body
  margin: 0
  min-height: 100vh
  display: flex
  flex-direction: column
main
  flex: 1
.container
  max-width: 80rem
  margin-right: auto
  margin-left: auto
.header-bar
  background-color: orange
  height: 4rem
header
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  height: 100%
.footer-bar
  background-color: #cccccc
  min-height: 4rem
p
  font-size: 1.125rem
  font-family: Helvetica, Arial, sans-serif
  line-height: 2rem
