body {
  margin: 0;
}

#root {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

main {
  flex: 1;
}

.container {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.header-bar {
  background-color: #ffffff;
  border-bottom: 1px solid #d5d5db;
  height: 4rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  height: 100%;
}

.footer-bar {
  background-color: #222222;
  color: #ffffff;
  min-height: 4rem;
}

p {
  font-size: 1.125rem;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 2rem;
}

.header-search {
  flex-grow: 3;
}
.header-search .search-form {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 80%;
}
.header-search .search-form input {
  padding: 10px;
  border-top: 1px solid #d5d5db;
  border-left: 1px solid #d5d5db;
  border-bottom: 1px solid #d5d5db;
  border-right: none;
  outline: none;
  border-radius: 5px 0 0 5px;
  width: 50%;
  font-size: 1rem;
}
.header-search .search-form button {
  padding: 10px;
  border-top: 1px solid #d5d5db;
  border-left: 1px solid #d5d5db;
  border-bottom: 1px solid #d5d5db;
  border-right: 1px solid #d5d5db;
  outline: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  background-color: #f5f5f5;
}
.header-search .search-form button:hover {
  background-color: #f0f0f0;
}

.material-symbols-outlined {
  font-variation-settings: FILL 0, wght 400, GRAD 0, opsz 48;
}
