body {
  margin: 0;
}

#root {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f1f7ee;
}

main {
  flex: 1;
  display: flex !important;
  flex-direction: column;
  justify-content: stretch;
  width: 100%;
}

.container {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.header-bar {
  background-color: #f5fffa;
  border-bottom: 1px solid #d5d5db;
  height: 4rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  height: 100%;
}

.footer-bar {
  background-color: #a54d41;
  color: #ffffff;
  min-height: 4rem;
}

p {
  font-size: 1.125rem;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 2rem;
}

.header-search {
  flex-grow: 3;
}
.header-search .search-form {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 80%;
}
.header-search .search-form input {
  padding: 10px;
  border-top: 1px solid #d5d5db;
  border-left: 1px solid #d5d5db;
  border-bottom: 1px solid #d5d5db;
  border-right: none;
  outline: none;
  border-radius: 5px 0 0 5px;
  width: 50%;
  font-size: 1rem;
}
.header-search .search-form button {
  padding: 10px;
  border-top: 1px solid #d5d5db;
  border-left: 1px solid #d5d5db;
  border-bottom: 1px solid #d5d5db;
  border-right: 1px solid #d5d5db;
  outline: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  background-color: #f5f5f5;
}
.header-search .search-form button:hover {
  background-color: #f0f0f0;
}

.material-symbols-outlined {
  font-variation-settings: FILL 0, wght 400, GRAD 0, opsz 48;
}

.full-page-content {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d5d5db;
  background-color: #ffffff;
}

.chakra-form-control {
  margin-bottom: 10px;
}

.dropzone {
  border: 1px solid #d5d5db;
  background-color: #fafafa;
  cursor: pointer;
}

.icon-lg {
  font-size: 4rem;
}
